@import "../utils/vars";

.description {
  padding-bottom: 60px;

  &-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto 0px auto;
    gap: 30px;
    flex-wrap: wrap;
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 120px;
      background: $color3;
      border-radius: 4px;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color6;
    }
    &__text {
      padding-top: 10px;
      font-size: 14px;
      line-height: 1.714;
      color: $color7;
    }

    li {
      width: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .description-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__icon {
      width: 354px;
    }

    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    li {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .description-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__icon {
      width: 270px;
    }

    li {
      width: 270px;
      height: 75px;
    }
  }
}
