@import "../utils/vars";

.description {
  padding-bottom: 0px;

  &-block {
    display: flex;
    margin: 0px auto 0px auto;
    gap: 30px;
    flex-wrap: wrap;
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 120px;
      left: 215px;
      top: 774px;
      background: $color3;
      border-radius: 4px;
    }

    &__title {
      padding-top: 30px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color6;
    }
    &__text {
      padding-top: 10px;
      font-size: 14px;
      line-height: 1.714;
      color: $color7;
    }

    li {
      width: 270px;
    }
  }
}
